/eagle.epf
/placa_sensores_eagle.b\#1
/placa_sensores_eagle.b\#2
/placa_sensores_eagle.b\#3
/placa_sensores_eagle.b\#4
/placa_sensores_eagle.b\#5
/placa_sensores_eagle.b\#6
/placa_sensores_eagle.b\#7
/placa_sensores_eagle.b\#8
/placa_sensores_eagle.b\#9
/placa_sensores_eagle.s\#1
/placa_sensores_eagle_00.pro
/placa_sensores_eagle_01.pro
/placa_sensores_eagle_02.pro
